:root {
    --black-color: #000;
    --white-color: #fff;
    --backgound-color: #090e11;
    --background-secondary-color: #131c21;
    --background-paper-color: #131c21;
    --top-header-color: #2a2f32;
    --top-header-icon-color: #b1b3b5;
    --primary-main-color: ;
    --primary-light-color: ;
    --primary-dark-color: #054740;
    --primary-button-color: #262d31;
    --primary-text-color: ;
    --secondary-main-color: ;
    --secondary-light-color: ;
    --secondary-dark-color: #323739;
    --secondary-text-color: ;
    --error-main-color: ;
    --error-main-color: ;
    --error-main-color: ;
    --error-main-color: ;
    --danger: #ef697a;
    --text-primary-color: #d4d5d7;
    --text-secondary-color: rgba(241, 241, 242, 0.63);
    --text-disable-color: ;
    --hint-color: ;
    --valid-color: #34B7F1;
    --success-color: #00af9c;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgound-color);
}

#MainSection {
    max-width: 720px;
    height: auto;
    margin: auto;
    background-color: var(--background-secondary-color);
    padding-bottom: 100px;
}


/* TopBar styles Start */

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--top-header-color);
    width: 100%;
}

.title {
    color: var(--text-primary-color);
    text-align: right;
    line-height: 0.5em;
}

.title h1 {
    font-size: 3vw;
}

.title p {
    font-size: 1vw;
    letter-spacing: .2em;
}

.send {
    padding: 10px 50px 10px 50px;
}

.send button {
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
    margin: 3px;
    border-radius: 10vw;
    background: none;
    color: var(--top-header-icon-color);
    border: 2px solid var(--top-header-icon-color);
}

.send button .material-icons {
    font-size: 3vw !important;
    vertical-align: middle;
}


/* TopBar styles End */

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

#dCode {
    background-color: var(--background-paper-color);
    color: var(--valid-color);
    width: 150px;
    height: auto;
    text-align: center;
    font-size: 3vw;
    border-right: none !important;
    border: 3px solid var(--valid-color);
    border-radius: 10vw 0px 0px 10vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
}

input {
    width: 300px;
    height: auto;
    background: var(--background-paper-color);
    border: none;
    text-align: center;
    font-size: 3vw;
}

input.number:invalid {
    border-left: none !important;
    border: 3px solid var(--danger);
    border-radius: 0px 10vw 10vw 0px;
    color: var(--danger);
}

input.number:valid {
    border-left: none !important;
    border: 3px solid var(--valid-color);
    border-radius: 0px 10vw 10vw 0px;
    color: var(--white-color);
}

textarea {
    background-color: var(--primary-dark-color);
    color: var(--text-primary-color);
    border-radius: 3vw 3vw 0vw 3vw;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 25px;
    padding: 10px;
}


/* Type number section */

table {
    display: none;
    margin-left: auto;
    margin-right: auto;
}


/*all number use this fonts*/

#num {
    font-family: 'Alata', sans-serif;
}

button {
    width: 20vw;
    height: 20vw;
    font-size: 10vw;
    margin: 5px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--primary-button-color);
    color: var(--text-primary-color);
}


/* more elements control */

:focus {
    outline-width: 0;
}

.material-icons {
    font-size: 10vw !important;
    vertical-align: middle;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .send button {
        width: 12vw;
        height: 12vw;
    }
    .send button .material-icons {
        font-size: 6vw !important;
        vertical-align: middle;
    }
    .title h1 {
        font-size: 6vw;
    }
    .title p {
        font-size: 3vw;
    }
    #dCode {
        width: 20vw;
        height: auto;
        font-size: 6vw;
    }
    input {
        width: 60vw;
        height: auto;
        font-size: 6vw;
    }
    textarea {
        width: 70vw;
    }
    table {
        display: table;
    }
}
