body {
    margin: 0;
    padding: 0;
    background-color: #ECE5DD;
}

#name-a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, 'sanserif';
    color: #FFFFFF;
    background-color: #00bfa5;
    width: 100vw;
    text-align: center;
    line-height: .75em;
    margin-bottom: 5vw;
}

.title-a {
    flex-grow: 1;
    font-size: 5vw;
}

.send-a {
    flex-grow: 2;
}

.send-a button {
    border-radius: 1vw;
}

#userin {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    background: none;
    border: none;
}

input {
    width: 70vw;
    height: auto;
    text-align: center;
    font-size: 9vw;
    margin-bottom: 25px;
    border: none;
}

input.number:invalid {
    border-bottom: 5px solid #e53935;
    color: #075E54;
}

input.number:valid {
    border-bottom: #34B7F1 solid 3px;
    color: #128C7E;
}

textarea {
    background-color: #DCF8C6;
    border-radius: 3vw 3vw 0vw 3vw;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 25px;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}


/*all number use this fonts*/

#num {
    font-family: 'Alata', sans-serif;
}

button {
    width: 20vh;
    height: 20vh;
    font-size: 10vh;
    margin: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: #f8f8ff;
}


/* more elements control */

:focus {
    outline-width: 0;
}

.material-icons {
    font-size: 10vh !important;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    input {
        width: 90vw;
        height: 20vw;
        font-size: 10vw;
    }
    button {
        width: 20vw;
        height: 20vw;
        font-size: 10vw;
        margin: 10px;
    }
    .material-icons {
        font-size: 10vw !important;
        vertical-align: middle;
    }
}
