/* CSS */

:root {
    --bg: #f0ece3;
    --secondary: #dfd3c3;
    --primary: #c7b198;
    --accent: #596e79;
    --white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Comfortaa;
    background-color: var(--bg);
}

h1 {
    color: var(--accent);
    text-align: center;
    font-variant-caps: all-petite-caps;
}

h2 {
    color: var(--accent);
    font-family: comfortaa, monospace;
}

form {
    margin: auto;
    width: width: -moz-available;
    text-align: center;
    background-color: var(--secondary);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 90%;
    height: 100px;
    color: var(--accent);
    background: #ffffff50;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    filter: grayscale(50%) sepia(10.3%);
}

textarea,
[contenteditable] {
  color: #666;
  caret-color: red;
}

::placeholder {
    color: var(--primary);
    font-size: 14px;
}


/* Start to button section */

#switch-section {
    padding-top: 24px;
    padding-bottom: 24px;
}

button {
    margin: 10px;
    background-color: var(--accent);
    color: var(--bg);
    font-weight: 900;
    vertical-align: middle;
}

.fancy-button {
    border: none;
    padding: 10px;
    border-radius: 50px
}

.fancy-button::before {
    content: "\00a0 ";
}

.fancy-button::after {
    content: "\00a0";
}

.fancy-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* external google icons css injects */

.material-icons {
    vertical-align: middle;
}


/* footer */

footer{
  text-align: center;
  color: var(--primary)
}
